.Phonetics {
}

.Phonetics h5 {
  opacity: 0.7;
  font-size: 28px;
  margin-right: 15px;
  
  display: inline;
  
}

.Phonetics a {
  border: 1px solid #ddd;
  background-color: rgb(74, 222, 74);
  color: white;
  padding: 6px 20px;
  margin-right:20px;
  display: inline;
  font-size: 18px;
  text-decoration: none;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
}

.Phonetics a:hover {
  color: rgb(74, 222, 74);
  background-color: white;
}
